section.hero {
  display: flex;
  margin-top: 13px;
}
section .left-section {
  flex-grow: 1;
}

section .left-section img {
  width: 88px;
  border-radius: 50px;
  border: 1px solid rgb(76, 95, 99);
  padding: 4px;
  box-shadow: 2px 2px 20px 7px rgb(162 252 252) inset;
}
.light section .left-section img {
  width: 88px;
  border-radius: 50px;
  border: none;
  padding: 4px;
  box-shadow: 2px 2px 20px 7px rgb(180, 191, 191) inset;
}
/* App.css */
.typing {
  font-family: monospace;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  color: var(--title);
  border-right: 2px solid;
  width: 0; /* Start at 0 width */
  animation: typing 4s steps(30, end) infinite, blink 0.75s step-end infinite; /* Simulate typing */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  } /* Full width of the text */
}

@keyframes blink {
  50% {
    border-color: transparent; /* Make the cursor blink */
  }
}
/* App.css */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

section span .MdVerified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-left: 10px;
  margin-top: 60px;
}

.left-section .title {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 24px 0;
  color: var(--title);
}

.left-section .desc {
  font-size: 0.8rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  color: var(--subtitle);
}
section .left-section .link {
  display: flex;
  font-size: 1.5rem;
  gap: 1.5rem;
}
/* Couleur du logo Facebook */
section .left-section .fcb {
  color: #1877f2; /* Bleu Facebook */
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid rgb(255, 199, 199);
  border-radius: 20px;
}

/* Couleur du logo Instagram */
section .left-section .insta {
  color: #e4405f; /* Rose Instagram */
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid rgb(255, 199, 199);
  border-radius: 20px;
}

/* Couleur du logo GitHub */
section .left-section .git {
  color: #ffffff; /* Gris GitHub */
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid rgb(255, 199, 199);
  border-radius: 20px;
}
.light section .left-section .git {
  color: #000000; /* Gris GitHub */
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid rgb(255, 199, 199);
  border-radius: 20px;
}
/* Couleur du logo LinkedIn */
section .left-section .link .link {
  color: #0a66c2; /* Bleu LinkedIn */
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid rgb(255, 199, 199);
  border-radius: 20px;
}

section .left-section .fcb:active {
  scale: 0.7;
  border: 1px solid #1877f2;
}

section .left-section .insta:active {
  scale: 0.7;
  border: 1px solid #e4405f;
}

/* Couleur du logo GitHub */
section .left-section .git:active {
  scale: 0.7;
  border: 1px solid #000;
}

/* Couleur du logo LinkedIn */
section .left-section .link .link:active {
  scale: 0.7;
  border: 1px solid #0a66c2;
}

section .left-section .fcb:hover {
  scale: 0.8;
  border: 1px solid #1877f2;
}

section .left-section .insta:hover {
  scale: 0.8;
  border: 1px solid #e4405f;
}

/* Couleur du logo GitHub */
section .left-section .git:hover {
  scale: 0.8;
  border: 1px solid #000;
}

/* Couleur du logo LinkedIn */
section .left-section .link .link:hover {
  scale: 0.8;
  border: 1px solid #0a66c2;
}

section .right-section {
  width: 2000px;
  margin-top: 80px;
}

section .right-section .lottie {
  width: 100%;
  translate: 100px -50px;
}

@media (max-width: 1250px) {
  section .right-section {
    display: none;
  }
}

@media (min-width: 1440px) {
  section .right-section {
    width: 80%;
    translate: 1px 10px;
  }
}
.resu {
  display: flex !important;
  align-items: end !important;
  gap: 20px !important;
}

.flexi{
  color: var(--title) !important;
  transition: 0.4s !important;
}
.flexi:hover{
scale: 1.1 !important;
rotate: 2deg !important;
background: none !important;
}
.light :where(.css-vryruh).ant-btn-variant-solid {
  color: var(--subtitle) !important;
  background: none !important;
}
:where(.css-vryruh).ant-btn-variant-solid {
  color: #fff !important;
  background: none !important;
  padding: 10px !important;
}

:where(.css-vryruh).ant-btn-variant-solid:hover {
  color: #fff !important;
  background: var(--blue) !important;
  padding: 10px !important;
}

.light :where(.css-vryruh).ant-btn-variant-solid:hover {
  color: #fff !important;
  background: var(--blue) !important;
  padding: 10px !important;
}

:where(.css-vryruh).ant-btn {
  position: static;
}
@media (max-width: 400px) {
  .left-section .title {
    font-size: 1.5rem;
   
  }
}